html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  transition: ease-in-out !important;
  transition-duration: 0.2s !important;
}

body {
  background-color: rgb(24, 28, 31);
  display: table;
  font-family: "Montserrat", sans-serif;
}

h1, h2, a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(173, 86, 255) !important;
}

div#main {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

span.spacer {
    margin-left: 1rem;
    margin-right: 1rem;
}

a:visited {
  color: whitesmoke;
}
